<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation Page</title>
</head>

<body>
    <h1>Flask with h264 Live Player</h1>

    <h2>h264 Live Player</h2>
    <p>
        <a href="static">Play Static h264 File</a>
    </p>
    <p>
        <a href="ffmpeg">Play FFmpeg Streaming Camera (If Applicable)</a>
    </p>
    <h2>h264 Live Player Worker</h2>
    <p>
        <a href="staticww">Play Static h264 File With Worker</a>
    </p>
    <p>
        <a href="ffmpegww">Play FFmpeg Streaming Camera With Worker (If Applicable)</a>
    </p>
</body>

</html>